@import "../../styles/colors";
@import "../../styles/variables";

.admin__container {
  overflow-x: hidden;

  .content__heading {
    padding: 12px;
    font-size: 24px;
    font-weight: 700;
    background-color: $bg-gray;
    color: $text-white;
    position: relative;
  }

  table {
    margin-bottom: 120px;
    font-size: 14px;

    td:first-child,
    th:first-child {
      padding-left: 12px;
    }

    td:last-child,
    th:last-child {
      width: 20px;
      padding: 0 4px;
    }

    tr {
      &:hover {
        background-color: #ddd;
        cursor: context-menu;
      }

      &:hover .more-btn {
        color: $text-black;
        opacity: 1;
      }
    }

    td,
    td {
      vertical-align: middle;
    }

    .more-btn {
      cursor: pointer;
      padding: 0;
      position: relative;
      opacity: 0;
      color: $text-white;

      &-list {
        position: absolute;
        top: calc(100%);
        right: 0;
        background-color: rgb(97, 95, 95);
        display: flex;
        flex-direction: column;
        z-index: 10;
        display: none;
      }

      &-list::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        height: 10px;
        background-color: transparent;
      }

      &-item {
        display: flex;
        align-items: center;
        min-width: 120px;
        padding: 4px 8px;
        font-size: 12px;
        color: #ddd;

        span:first-child {
          padding-right: 8px;
        }
      }

      &:hover .more-btn-list {
        display: block;
        background-color: white;
        border: 1px solid #aaa;
        margin-right: 12px;
      }
    }
  }

  // .admin__nav-modal {
  //     position: fixed;
  //     left: 0;
  //     top: 0;
  //     bottom: 0;
  //     width: 320px;
  // }
}
