$green: #64c5b1;
$blue: #567aed;
$dark: #323246;
$yellow: #ffbf43;
$orange: #E64B55;
$gray: #8a8e9b;
$btn-color: #dd4026;
$btn-color-hover: #df6a55;
$text-hover: #dd4026;

$text-black: #353535;
$text-gray: #8a8e9b;
$text-green: #64c5b1;
$text-white: #fff;
$text-error: rgb(235, 65, 43);
$text-success: rgb(123, 170, 79);

$bg-white: #fff;
$bg-green:#64c5b1;
$bg-black: #000;
$bg-gray: #8a8e9b;
$bg-footer: #222222;
$bg-yellow: rgba(255, 212, 36, 0.9);